.footer-container {
  background-color: #2d2d2d;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}