body {
  margin: 0;
  background-color: #E7E7E7;
  font-family: Lato;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: inherit;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: inherit;
}

.nav-bar-container {
  background-color: #2d2d2d;
  display:flex;
  justify-content: flex-end;
  max-width: 100%;
  align-items: center;
  height: 10vh;
  vertical-align: baseline;
  margin: 0 auto;
}

.header {
  font-size: 36px;
  color: #f88379;
  margin-right: auto;
  margin-left: 10vw;
  text-align: center;
}

.sub-header {
  font-size: 36px;
  color: white;
  margin-right: auto;
  text-align: center
}

.nav-bar-item-container {
  margin-right: 10vw;
}

.nav-bar-item {
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  padding: 3px;
  margin-left: 10px;
}

.nav-bar-item:hover {
  color: #f88379;
  cursor: pointer;
  border: 1px solid #f88379;
}

a {
  margin: 3px;
}