.queue-container {
  max-width: 20vw;
  background: white;
  overflow: auto;
  height: 50vh;
  flex-direction: column;
  border: 1px solid black;
}

.song-searchbar-input {
  width: -webkit-fill-available;
  height: 2vh;
}

.song-info-container {
  max-width: 20vw;
  height: 8vh;
  display: flex;
  border: 1px solid black;
  align-items: center;
  flex-direction: row;
}

.queue-album-art {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}

.up-vote, .down-vote {
  border: 1px solid black;
  border-radius: 3px;
  padding: 0 3px 0 3px;
}